
<!DOCTYPE html>
<html>
<head>
  <title>Digi-Wanderers</title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">

  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <link rel="shortcut icon" type="image/jpg" href="https://cdn.mos.cms.futurecdn.net/EdFta36m4YcZcphdzwKQNT-650-80.jpg">

</head>

<body>

  <div class="ui fixed inverted menu" style="background-color: black">
    
    <div class="ui container">

      <div class="header item" style="margin-right: 10px">
        
        <i class="keyboard icon"></i>

        Digi-Wanderers

      </div>

      <a href="/" class="item" style="margin-left: 310px"><i class="home icon"></i>Wanderers Home</a>

      <a href="/blogs/new" class="item" style="margin-left: 320px"><i class="pencil alternate icon"></i>Update Digi-Post</a>

    </div>

  </div>
